absl-py==2.0.0
agent-protocol==1.0.1
aiofiles==23.2.1
aiohttp==3.8.6
aiosignal==1.3.1
amqp==5.1.1
anyio==3.6.1
ariadne==0.15.1
ariadne-django==0.3.0
asgiref==3.5.2
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
backoff==2.2.1
beautifulsoup4==4.12.2
billiard==3.6.4.0
black==23.3.0
blis==0.7.11
cachetools==5.3.2
catalogue==2.0.10
celery==5.2.7
certifi==2022.6.15
cffi==1.15.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==2.1.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudpathlib==0.16.0
confection==0.1.3
contourpy==1.1.1
coverage==6.5.0
coveralls==3.3.1
cryptography==40.0.2
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.5.7
defusedxml==0.7.1
Deprecated==1.2.13
deprecation==2.0.7
distlib==0.3.7
distro==1.8.0
Django==3.2.15
django-cors-headers==4.2.0
django-debug-toolbar==3.5.0
django-djconfig==0.11.0
django-haystack==3.2.1
django-infinite-scroll-pagination==1.1.0
django-js-asset==2.0.0
django-machina==1.3.1
django-mptt==0.13.4
django-simple-sso==1.1.0
django-spirit==0.13.0
django-widget-tweaks==1.5.0
djangorestframework==3.13.1
docopt==0.6.2
emoji==2.8.0
faiss-cpu==1.7.4
Faker==13.15.1
fastapi==0.100.1
fastdiff==0.3.0
filelock==3.13.1
filetype==1.2.0
flatbuffers==23.5.26
fonttools==4.43.1
frozenlist==1.4.0
gast==0.5.4
google-auth==2.23.4
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphql-core==3.2.1
graphviz==0.20.1
greenlet==3.0.1
grpcio==1.59.2
h11==0.14.0
h2==4.1.0
h5py==3.10.0
hpack==4.0.0
html5lib==1.1
httpcore==1.0.1
httpx==0.25.1
hypercorn==0.14.4
hyperframe==6.0.1
identify==2.5.31
idna==3.3
iniconfig==1.1.1
itsdangerous==0.24
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
keras==2.14.0
kiwisolver==1.4.5
kombu==5.2.4
langchain==0.0.330
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.0.57
libclang==16.0.6
lxml==4.9.3
Markdown==3.4.1
markdown2==2.4.10
MarkupSafe==2.1.3
marshmallow==3.20.1
marshmallow-enum==1.5.1
matplotlib==3.8.0
Misago==0.36.1
mistune==0.8.4
ml-dtypes==0.2.0
monotonic==1.6
multidict==6.0.4
murmurhash==1.0.10
mypy==1.3.0
mypy-extensions==1.0.0
networkx==3.2.1
nltk==3.8.1
nodeenv==1.8.0
numpy==1.26.0
oauthlib==3.2.0
olefile==0.46
openai==1.2.1
opencv-python==4.8.1.78
opt-einsum==3.3.0
outcome==1.3.0
packaging==23.0
pandas==2.1.2
pathspec==0.11.1
phonenumbers==8.13.24
Pillow==9.5.0
platformdirs==3.11.0
pluggy==1.0.0
pre-commit==3.3.3
preshed==3.0.9
presidio-analyzer==2.2.350
presidio-anonymizer==2.2.350
priority==2.0.0
prompt-toolkit==3.0.30
protobuf==4.25.0
psycopg2-binary==2.9.3
py==1.11.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycircuit==0.0.2
pycparser==2.21
pycryptodome==3.19.0
pydantic==1.10.13
pyeda==0.28.0
PyJWT==2.4.0
pykicad==0.1.1
pyparsing==3.1.1
pypdf==3.17.0
PySocks==1.7.1
pytesseract==0.3.10
pytest==7.3.1
pytest-cov==4.0.0
pytest-django==4.5.2
pytest-mock==3.8.2
python-dateutil==2.8.2
python-dotenv==0.21.1
python-iso639==2023.6.15
python-magic==0.4.27
python-multipart==0.0.6
python3-openid==3.2.0
pytz==2022.1
PyYAML==6.0.1
rapidfuzz==3.5.2
redis==4.3.4
regex==2023.10.3
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
responses==0.21.0
rsa==4.9
rudder-sdk-python==2.0.2
ruff==0.0.272
schemdraw==0.17
scikit-learn==1.3.2
scipy==1.11.3
selenium==4.14.0
shapely==2.0.1
six==1.16.0
smart-open==6.4.0
snapshottest==0.6.0
sniffio==1.2.0
social-auth-app-django==5.0.0
social-auth-core==4.3.0
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.23
sqlparse==0.4.2
srsly==2.4.8
starlette==0.27.0
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
thinc==8.2.1
threadpoolctl==3.2.0
tiktoken==0.5.1
tldextract==5.0.1
tomli==2.0.1
tqdm==4.66.1
trio==0.22.2
trio-websocket==0.11.1
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
Unidecode==1.3.4
unstructured==0.10.28
urllib3==1.26.11
vine==5.0.0
virtualenv==20.24.6
wasabi==1.1.2
wasmer==1.1.0
wasmer-compiler-cranelift==1.1.0
wcwidth==0.2.5
weasel==0.3.3
webencodings==0.5.1
webservices==0.7
Werkzeug==3.0.1
Whoosh==2.7.4
wordninja==2.0.0
wrapt==1.14.1
wsproto==1.2.0
yarl==1.9.2
z3-solver==4.12.2.0
